<!DOCTYPE html>
<html ng-app="tabuleiro" lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<title>Web chess</title>
	<link rel="stylesheet" href="css/casa.css">
	<script src="lib/angular/angular.js"></script>
	<script src="src/peca.js"></script>
	<script src="src/casa.js"></script>
	<script src="src/tabuleiro.js"></script>
	<script src="src/tabuleiroController.js"></script>
</head>
<body ng-controller="tabuleiroController">
	<div ng-repeat="coluna in colunas" class="coluna">
		<div class="casa">{{coluna}}</div>
		<div ng-repeat="linha in casas[coluna]" ng-class="linha.classe()"></div>
	</div>
</body>
</html>